---
title: prompt engineering
subtitle: Kurzfilm über Beziehungs- und Wohnutopien.
type: Kurzfilm
category: art
authors: Paula Berger, Malte Grotendorst
cover: cover.jpg
---

<p>TODO: description</p>

<video src="241006_Fiction_Part1.mp4" controls></video>
