---
title: Sylvoculture
subtitle: TODO
type: Short film
category: art
authors: Brendan Howell, Sonja Nilsson
cover: cover.jpg
---

<p>TODO: pamphlet content</p>

<video src="TheGreatRewilding_1080_5oct2024.mp4" controls></video>
