<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/main.css" />
  </head>

  <body>
    <header>
      <a href="/">Call for Stories</a>
    </header>
    <main>{{ content }}</main>
  </body>

  <footer>
    <a href="https://ccc.de/" target="_blank">Chaos Computer Club e.V.</a>
    <span
      ><a href="https://www.ccc.de/de/imprint" target="_blank"> Impressum </a> &
      <a href="https://www.ccc.de/de/datenschutz" target="_blank">
        Datenschutz</a
      ></span
    >
    <a rel="me" href="https://chaos.social/@callforstories" target="_blank">
      Mastodon @callforstories@chaos.social</a
    >
  </footer>
</html>
